@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Secular+One&display=swap');

/*
    font-family: 'Fira Sans Condensed', sans-serif;  // 300 400 900 Для заголовков
    font-family: 'PT Sans', sans-serif;            // 400 Для текста
    font-family: 'Secular One', sans-serif;        // 400 Для логотипа    

*/
/* ======= Общие ===================================================================================== */

:root {
   --fz-1rem: 14px;

   --text-color: #000;
   --primary-text-color: #fff;
   --secondary-text-color: #999;
   --supportive-text-color: #9e9e9e;

   --main-color: #fff;
   --nofocus-main-color: rgba(255, 255, 255, 0.8);
   --active-main-color: rgba(255, 255, 255, 0.4);
   --secondary-color: #000;
   --hover-secondary-color: rgba(0, 0, 0, 0.7);
   --accent-color: #02cbc4;
   --hover-accent-color: #00eae0;
   --active-accent-color: #02b1b1;
   --active-color: #FF4747;
   --hover-active-color: rgba(255, 71, 71, 0.6);

   --red-bg: #FF4747;
   --orange-bg: #ffba4a;
   --light-green-bg: #bee163;
   --verdigris-bg: #00c1b9;
   --verdigris-bg: #00c2ba;
   --light-grey-bg: #999;
   --grey-bg: #6a6a6a;
   --dark-grey-bg: #2F2F2F;
   --active-bg: #bc0108;
   --hover-active-bg: rgba(188, 1, 7, 0.5);

   /* 10px */
   --gutter-el-xs: 0.7rem;
   /* 15px */
   --gutter-el-sm: 1.1rem;
   /* 20px */
   --gutter-el-m: 1.43rem;
   /* 30px */
   --gutter-el-lg: 2.14rem;
   /* 42px */
   --gutter-el-xlg: 3rem;
   /* 120px */
   --gutter-el-3xlg: 9rem;

   /* 20px */
   --gutter-section-xs: 1.43rem;
   /* 35px */
   --gutter-section-sm: 2.5rem;
   /* 50px */
   --gutter-section-m: 3.57rem;
   /* 65px */
   --gutter-section-lg: 4.64rem;
   /* 80px */
   --gutter-section-xlg: 5.7rem;

   /* 110px */
   --container-logo: 7.85rem;
   /* 476px */
   --box-image-height: 34rem;
}

/* 1624px */
@media (max-width: 116rem) {
   :root {
      /* 70px */
      --gutter-section-xlg: 5rem;
   }
}

/* 1582px */
@media (max-width: 113rem) {
   :root {
      /* 5px */
      --gutter-el-xs: 0.35rem;
      /* 10px */
      --gutter-el-sm: 0.7rem;
      /* 14px */
      --gutter-el-m: 1rem;
      /* 25px */
      --gutter-el-lg: 1.78rem;
      /* 35px */
      --gutter-el-xlg: 2.5rem;

      /* 10px */
      --gutter-section-xs: 0.7rem;
      /* 25px */
      --gutter-section-sm: 1.78rem;
      /* 42px */
      --gutter-section-m: 3rem;
      /* 55px */
      --gutter-section-lg: 3.9rem;
      /* 455px */
      --box-image-height: 32.5rem;
   }
}

/* 1540px */
@media (max-width: 110rem) {
   :root {
      /* 2px */
      --gutter-el-xs: 0.14rem;
      /* 49px */
      --gutter-section-lg: 3.5rem;
      /* 56px */
      --gutter-section-xlg: 4rem;
      /* 434px */
      --box-image-height: 31rem;
   }
}

/* 1470px */
@media (max-width: 105rem) {
   :root {
      /* 42px */
      --gutter-section-lg: 3rem;
      /* 49px */
      --gutter-section-xlg: 3.5rem;
      /* 420px */
      --box-image-height: 30rem;
   }
}

/* 1456px */
@media (max-width: 104rem) {
   :root {
      /* 28px */
      --gutter-section-lg: 2rem;
      /* 35px */
      --gutter-section-xlg: 2.5rem;
   }
}

/* 1330px */
@media (max-width: 95rem) {
   :root {
      /* 35px */
      --gutter-section-xlg: 2.5rem;
      /* 546px */
      --box-image-height: 39rem;
   }
}

/* 1204px */
@media (max-width: 86rem) {
   :root {
      /* 65px */
      --gutter-section-lg: 4.64rem;
      /* 80px */
      --gutter-section-xlg: 5.7rem;
      /* 455px */
      --box-image-height: 32.5rem;
   }
}

/* 910px */
@media (max-width: 65rem) {
   :root {
      /* 55px */
      --gutter-section-lg: 3.9rem;
   }
}

/* 798px */
@media (max-width: 57rem) {
   :root {
      /* 12px */
      --gutter-el-m: 0.85rem;
      /* 20px */
      --gutter-section-sm: 1.4rem;
      /* 28px */
      --gutter-section-m: 2rem;
      /* 28px */
      --gutter-section-lg: 2rem;
      /* 28px */
      --gutter-section-xlg: 2rem;
      /* 420px */
      --box-image-height: 30rem;
   }
}

/* 518px */
@media (max-width: 37rem) {
   :root {
      /* 20px */
      --gutter-el-xlg: 1.4rem;
   }
}

/* 406px */
@media (max-width: 29rem) {
   :root {
      /* 10px */
      --gutter-section-sm: 0.7rem;
      /* 14px */
      --gutter-section-m: 1rem;
      /* 14px */
      --gutter-section-lg: 1rem;
      /* 14px */
      --gutter-section-xlg: 1rem;
   }
}

body {
   /* критерии WCAG для «основного» текста 1.5 (см. стр.11) */
   line-height: 1.5;
   /* Улучшить рендеринг текста (отключаем субпиксельное сглаживание в Chrome и Safari) */
   -webkit-font-smoothing: antialiased;

   min-height: 100%;
   font-family: 'PT Sans', sans-serif;
   font-weight: 400;
   font-size: var(--fz-1rem);
   color: var(--primary-text-color);
}

.container {
   max-width: 1920px;
   margin: 0 auto;
}

/* если нужно запретить скролл при открытии меню */
/* .no-scroll {
   overflow: hidden;
} */

.btn {
   font-size: 1.14rem;
   color: var(--primary-text-color);
   text-transform: uppercase;
   letter-spacing: 2px;
   background-color: transparent;
   border: 2px solid var(--main-color);
   padding: 0.7em 2.14em;
   transition: opacity 0.2s;
}

.btn_rounded {
   border-radius: 24px;
}

.half-transparent:hover {
   opacity: 0.8;
}

.half-transparent:active {
   opacity: 0.6;
}

.title {
   font-family: 'Fira Sans Condensed', sans-serif;
   font-size: 1.7rem;
   line-height: 1.1;
   letter-spacing: 2px;
   width: 10.7rem;
}

.title span {
   font-size: 4.7rem;
   display: block;
}

.title span::first-line {
   font-weight: 900;
}

.description {
   max-width: 90%;
}

.common {
   padding: var(--gutter-section-xlg) var(--gutter-section-sm) var(--gutter-section-xlg) var(--gutter-section-lg);
   display: flex;
   gap: var(--gutter-el-xlg, 3rem);
}

.common_column-revers {
   flex-direction: column-reverse;
}

.common_row-revers {
   flex-direction: row-reverse;
}

.logo {
   font-family: 'Secular One', sans-serif;
   color: var(--active-color);
   font-size: 1.7rem;
   width: var(--container-logo);
   line-height: 1;
   transition: color 0.3s ease-in;
}

.logo:hover {
   color: var(--active-bg);
}

.logo-image {
   justify-self: center;
   fill: var(--light-grey-bg);
   transition: transform 0.6s;
}

.logo-image:hover {
   transform: scale(1.5) translateX(10px) rotate(360deg);
}

#orange:hover {
   fill: var(--orange-bg);
}

#light-green:hover {
   fill: var(--light-green-bg);
}

#red:hover {
   fill: var(--red-bg);
}

/* ======= HEADER ===================================================================================== */
.header {
   display: grid;
   grid-template: ". logo nav search" max-content / 2fr 1fr 2.6fr 0.4fr;
   align-items: center;
   justify-items: start;
   padding: var(--gutter-section-sm) 0;
   text-transform: uppercase;
   overflow: hidden;
}

.header__logo {
   grid-area: logo;
}

.header__nav {
   grid-area: nav;
   transform: translate(calc(var(--gutter-el-m) * -1));
}

.header__nav ul {
   display: flex;
   gap: var(--gutter-el-m);
}

.header__nav a {
   position: relative;
   padding: var(--gutter-el-m);
   color: var(--text-color);
   font-size: 1.14rem;
   transition: color 0.3s ease-in;
}

.header__nav a::after {
   content: "";
   display: block;
   width: 85%;
   height: 100%;
   background-color: var(--accent-color);

   position: absolute;
   left: var(--gutter-el-m);
   bottom: -150%;
   transition: background-color 0.3s, bottom 0.3s ease-in-out;
}

.header__nav a:hover {
   color: var(--accent-color);
}

.header__nav a:hover::after {
   bottom: -80%;
}

.header__nav a:active {
   color: var(--active-accent-color);
}

.header__nav a:active::after {
   background-color: var(--active-accent-color);
}

.search {
   grid-area: search;
}

.search__icon {
   padding: 6px;
   fill: var(--secondary-color);
   background-color: var(--main-color);
   transition: fill 0.3s;
}

.search__icon:hover {
   fill: var(--accent-color);
}

.search__icon:active {
   fill: var(--active-accent-color);
}

/* ======= BURGER-MENU ===================================================================================== */
.menu-icon {
   display: none;
   width: 40px;
   height: 27px;
   background-color: transparent;

   position: relative;
}

.menu-icon__line,
.menu-icon::after,
.menu-icon::before {
   display: block;
   width: 100%;
   height: 3px;
   background-color: var(--text-color);
}

.menu-icon::after,
.menu-icon::before {
   content: "";
   position: absolute;
   left: 0;
}

.menu-icon::before {
   top: 0;
   transition: transform 0.3s, top 0.3s 0.2s;
}

.menu-icon::after {
   bottom: 0;
   transition: transform 0.3s, bottom 0.3s 0.2s;
}

.menu-icon__line {
   transform: scale(1);
   transition: transform 0.3s ease-in 0.2s;
}

.menu-icon_active .menu-icon__line {
   transform: scale(0);
   transition: transform 0.3s ease-in;
}

.menu-icon_active::before {
   transform: rotate(-45deg) translateY(-50%);
   top: 50%;
   transition: top 0.3s, transform 0.3s 0.2s;
}

.menu-icon_active::after {
   transform: rotate(45deg) translateY(50%);
   bottom: 50%;
   transition: bottom 0.3s, transform 0.3s 0.2s;
}

/* ======= WRAP-BOX ===================================================================================== */
.wrap-box {
   display: grid;
   /* grid-template-rows: 3fr 1fr 3fr 3fr;
      grid-template-columns: 2fr 1fr 1.4fr 1.6fr;
      grid-template-areas: "slider-arrows healthy thirsty thirsty"
                           "slider-arrows healthy slider-dots card-image"
                           "freshy healthy slider-dots card-image"
                           "footer footer footer juisy";*/
   grid-template: "slider-arrows healthy thirsty thirsty" 3fr
      "slider-arrows healthy slider-dots card-image" 1fr "freshy healthy slider-dots card-image" 3fr
      "footer footer footer juisy" 3fr / 2fr 1fr 1.4fr 1.6fr;
}

/* ======= MAIN ===================================================================================== */
.main {
   color: var(--main-color);
}

/* ======= SLIDER-ARROWS ===================================================================================== */

.slider-arrows {
   grid-area: slider-arrows;
   height: var(--box-image-height);
   position: relative;
}

.slider-arrows__items-wrapper {
   width: 100%;
   height: 100%;
   filter: brightness(80%);
   display: flex;
}

.slider-arrows__item {
   width: 100%;
}

.slider-arrows__nav {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.slider-arrows__arrow {
   width: 50px;
   height: 50px;
   color: var(--primary-text-color);
   font-size: 2.14rem;
   line-height: 1;
   border-radius: 50%;
   border: 2px solid var(--main-color);
   background-color: transparent;
   transition: opacity 0.2s;
}

/* .slider-arrows__arrow_prev {}
.slider-arrows__btn {}
.slider-arrows__arrow_next {} */
/* ======= FRESHY ===================================================================================== */
.freshy {
   grid-area: freshy;
   background-color: var(--light-green-bg);
}

.freshy__title {
   min-width: 10rem;
}

.freshy__description {
   max-width: 60%;
}

/* ======= HEALTHY ===================================================================================== */

.healthy {
   grid-area: healthy;
   background-color: var(--red-bg);
}

/* .healthy__title {}
.healthy__description {} */

/* ======= THIRSTY ===================================================================================== */

.thirsty {
   grid-area: thirsty;
   background-color: var(--orange-bg);
   justify-content: center;

   display: grid;
   /* grid-template-rows: 1fr;
      grid-template-columns: 1.4fr 1.6fr;
      grid-template-areas: "thirsty-desc thirsty-title";*/
   grid-template: "thirsty-desc thirsty-title" 1fr / 1.4fr 1.6fr;
   gap: 0;
}

.thirsty.common {
   padding: var(--gutter-section-xlg) 0 var(--gutter-section-xlg) 0;
}

.thirsty__title {
   grid-area: thirsty-title;
   width: 12rem;
   margin-left: var(--gutter-section-lg);
}

.thirsty__description {
   grid-area: thirsty-desc;
   justify-self: end;
   max-width: 60%;
   text-align: right;
}

/* ======= SLIDER-DOTS ===================================================================================== */
.slider-dots {
   grid-area: slider-dots;
   height: var(--box-image-height);
   position: relative;
}

.slider-dots__items-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
}

.slider-dots__item {
   vertical-align: middle;
   width: 100%;
   /* height: 100%; */
}

.slider-dots__btn-wrapper {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 100%;
   display: flex;
   justify-content: space-around;
}

/* .slider-dots__btn {} */

.slider-dots__dots-wrapper {
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider-dots__dots-wrapper>*+* {
   margin-left: 0.8em;
}

.slider-dots__dot {
   width: 1em;
   height: 1em;
   border-radius: 50%;
   background-color: var(--main-color);
   border: 2px solid var(--main-color);
   transition: opacity 0.3s;
}

.slider-dots__dot_active {
   background-color: transparent;
}

/* ======= CARD-IMAGE ===================================================================================== */
.card-image {
   grid-area: card-image;
   height: var(--box-image-height);
   position: relative;
}

.card-image img {
   width: 100%;
   height: 100%;
}

.card-image__btn-wrapper {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 100%;
   display: flex;
   justify-content: space-around;
}

/* .card-image__btn {}
.card-image__nav {} */

.card-image__arrow {
   position: absolute;
   right: 5%;
   bottom: 10%;
   transform: translateX(-50%);
   fill: var(--main-color);
}

/* ======= FOOTER ===================================================================================== */
.footer {
   grid-area: footer;
   background-color: var(--dark-grey-bg);
   display: grid;
   grid-template: ". socials form logo" max-content
      ". . . copy" 100px / 0.9fr 1.1fr 1.4fr 1fr;
   align-items: flex-end;
   align-content: center;
}

.socials {
   grid-area: socials;
   display: flex;
   gap: var(--gutter-el-sm, 15px);
}

.socials__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   fill: var(--primary-text-color);
   border: 1px solid var(--primary-text-color);
   border-radius: 50%;
}

.form {
   grid-area: form;
   text-transform: uppercase;
}

.form__title {
   font-size: 1.4rem;
   letter-spacing: 2px;
   margin-bottom: var(--gutter-el-m);
}

.form__row {
   display: flex;
}

.form__input {
   width: 60%;
   height: 40px;
   padding: 0 var(--gutter-el-m);
   background-color: var(--nofocus-main-color);
   text-transform: uppercase;
}

.form__input:focus {
   background-color: var(--main-color);
}

.form__submit-btn {
   height: 40px;
   padding: 0 var(--gutter-el-m);
   color: var(--primary-text-color);
   text-transform: uppercase;
   letter-spacing: 2px;
   background-color: var(--verdigris-bg);
   transition: background-color 0.3s;
}

.form__submit-btn:hover {
   background-color: var(--hover-accent-color);
}

.form__submit-btn:active {
   background-color: var(--active-accent-color);
}

.footer__logo {
   grid-area: logo;
}

.copy {
   grid-area: copy;
   align-self: center;
   justify-self: center;
   color: var(--grey-bg);
}

/* ======= JUISY ===================================================================================== */
.juisy {
   grid-area: juisy;
   background-color: var(--verdigris-bg);
}

/* .juisy__title {}
.juisy__content {} */

.juisy__description {
   margin-bottom: var(--gutter-el-lg);
   max-height: 10rem;
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
   white-space: pre-wrap;
}

/* .juisy__btn-wrapper {}
.juisy__btn {} */

/* ======= ADAPTIVE ===================================================================================== */
/* 1456px */
@media (max-width: 104rem) {
   .thirsty__description {
      max-width: 70%;
   }
}

/* 1330px */
@media (max-width: 95rem) {
   .wrap-box {
      grid-template: "slider-arrows healthy thirsty thirsty" 3fr
         "slider-arrows healthy slider-dots card-image" 1fr
         "freshy healthy slider-dots card-image" 3fr
         "footer footer footer juisy" 2.7fr / 2fr 1fr 1.4fr 1.6fr;
   }

   .thirsty {
      grid-template: "thirsty-desc thirsty-title" 1fr / 1.3fr 1.6fr;
   }

   .freshy {
      gap: var(--gutter-el-lg, 1.78rem);
   }

   .footer {
      grid-template: "socials form logo" max-content
         " . . copy" 100px / 1.2fr 1.5fr 0.8fr;
      padding: var(--gutter-section-xlg) var(--gutter-section-sm) var(--gutter-section-xlg) var(--gutter-section-lg);
   }
}

/* 1204px */
@media (max-width: 86rem) {
   .header {
      grid-template: "logo nav search" max-content / 1fr 3fr 0.4fr;
   }

   .search {
      justify-self: center;
   }

   .search__icon {
      padding: 7px;
   }

   .header__logo {
      margin-left: var(--gutter-section-lg);
   }

   .wrap-box {
      grid-template-rows: auto;
      grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
      grid-template-areas: "freshy freshy freshy healthy"
         "slider-arrows slider-arrows slider-arrows healthy"
         "thirsty thirsty thirsty thirsty"
         "slider-dots slider-dots card-image card-image"
         "juisy juisy juisy juisy"
         "footer footer footer footer";
   }

   .common,
   .footer {
      padding: var(--gutter-section-m) var(--gutter-section-lg) var(--gutter-section-m) var(--gutter-section-lg);
   }

   .title span {
      line-height: 1;
   }

   .freshy {
      gap: var(--gutter-el-xlg, 3rem);
   }

   .thirsty {
      grid-template: "thirsty-desc thirsty-title" 1fr / 1.5fr 1.5fr;
   }

   .juisy {
      display: grid;
      grid-template: "juisy-title juisy-content" 1fr / 1.5fr 1.5fr;
      gap: 0;
   }

   .thirsty.common,
   .juisy.common {
      padding: var(--gutter-section-m) 0 var(--gutter-section-m) 0;
   }

   .juisy__title {
      grid-area: juisy-title;
      justify-self: end;
      text-align: right;
      margin-right: var(--gutter-section-lg);
   }

   .juisy__content {
      grid-area: juisy-content;
   }

   .juisy__description {
      max-width: 70%;
      max-height: none;
      display: block;
   }

   .footer {
      grid-template: "socials form logo" max-content
         " . copy copy" 50px / 1.5fr 2fr 0.7fr;
   }

   .copy {
      align-self: end;
      justify-self: end;
   }
}

/* 798px */
@media (max-width: 57rem) {
   .logo-image:hover {
      transform: scale(1.3) translateX(5px) rotate(360deg);
   }

   .header__nav a {
      font-size: 1.13rem;
   }

   .slider-arrows__arrow {
      width: 44px;
      height: 44px;
      font-size: 2rem;
      border-width: 1px;
   }

   .footer {
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: auto;
      grid-template-areas: "logo socials" "form form" "copy copy";
      row-gap: var(--gutter-el-lg);
      justify-items: center;
   }

   .form {
      width: 70%;
   }

   .form__input {
      width: 100%;
   }

   .copy {
      align-self: center;
      justify-self: center;
   }
}

/* 700px */
@media (max-width: 50rem) {
   .header {
      padding: var(--gutter-section-sm) var(--gutter-section-lg);
      grid-template-columns: max-content 1fr max-content;
      grid-template-areas: "logo search menu-icon";
   }

   .header_mobile {
      /* если меню не поместилось на экран, разрешаем скролл */
      min-height: 100vh;
      overflow: hidden;
      grid-template: "logo menu-icon" max-content
         "nav nav" max-content
         "search search";
      align-content: space-between;
   }

   .header_mobile .header__nav,
   .header_mobile .search {
      display: block;
      justify-self: center;
      margin-bottom: var(--gutter-el-xlg);
   }

   .header_mobile .search {
      margin-right: 0;
   }

   .header__logo {
      margin-left: 0;
   }

   .header__nav {
      display: none;
      transform: none;
   }

   .header__nav a {
      font-size: 1.5rem;
   }

   .header__nav ul {
      flex-direction: column;
      align-items: center;
   }

   .header__nav ul>li+li {
      margin-top: var(--gutter-el-xlg);
   }

   .header__nav a::after {
      /* display: none; */
      opacity: 0;
      height: 50%;
      bottom: 5%;
      z-index: -1;
      transition: background-color 0.3s, transform 0.3s ease-in, opacity 0.3s ease-in;
   }

   .header__nav a:hover::after {
      height: 50%;
      bottom: 5%;
      transform: translate(10%, 50%);
      opacity: 1;
   }

   .search {
      display: none;
      justify-self: end;
      margin-right: var(--gutter-el-lg);
   }

   .search__icon {
      padding: 3px;
   }

   .menu-icon {
      grid-area: menu-icon;
      display: block;
      justify-self: end;
   }

}

/* 602px */
@media (max-width: 43rem) {
   .common_column-revers {
      flex-direction: row-reverse;
   }

   .wrap-box {
      grid-template-columns: 1fr;
      grid-template-areas: "healthy" "slider-arrows" "freshy" "slider-dots" "thirsty" "card-image" "juisy" "footer";
   }

   .thirsty,
   .juisy {
      display: flex;
      gap: var(--gutter-el-xlg, 1.4rem);
   }

   .thirsty.common,
   .juisy.common {
      padding: var(--gutter-section-m) var(--gutter-section-lg) var(--gutter-section-m) var(--gutter-section-lg);
   }

   .freshy__title {
      min-width: auto;
   }

   .thirsty__title {
      margin-left: 0;
   }

   .juisy__title {
      text-align: left;
      margin-right: 0;
   }

   .healthy__description {
      text-align: right;
   }

   .healthy__description,
   .thirsty__description {
      flex: 0 0 55%;
      max-width: 55%;
   }

   .freshy__description,
   .juisy__content {
      flex: 1 1 65%;
      max-width: 70%;
   }

   .juisy__description {
      max-width: 100%;
   }

   .footer {
      grid-template-columns: 1fr;
      grid-template-areas: "socials" "form" "logo" "copy";
      text-align: center;
   }
}

/* 518px */
@media (max-width: 37rem) {
   .title {
      align-self: center;
   }

   .title span {
      font-size: 3.7rem;
   }

   .healthy__description,
   .freshy__description,
   .thirsty__description,
   .juisy__content {
      max-width: none;
   }

   .freshy__description,
   .juisy__content {
      flex: 1 1 80%;
   }

   .card-image__arrow {
      right: 0;
      bottom: 5%;
      transform: translate(-10%, 15%);
   }

   .form {
      width: 90%;
   }
}

/* 406px */
@media (max-width: 29rem) {
   /* .search {
      display: none;
   } */

   .healthy__description,
   .thirsty__description {
      flex: 0 1 50%;
   }

   .btn {
      font-size: 1rem;
      padding: 0.7em 1.4em;
   }

   .btn_rounded {
      padding: 0.7em 2em;
   }

   .slider-arrows__arrow {
      width: 40px;
      height: 40px;
      font-size: 1.75rem;
   }

   .form {
      width: 100%;
   }
}